body { font-family:'Segoe UI',sans-serif; margin:0; background:#0f172a; color:white; }
h1 { text-align:center; padding:15px; background:none; margin:0; }
.top-nav { display:flex; justify-content:center; gap:10px; background:none; padding:10px 0; }
.top-nav button {width:100%; padding:10px 15px; border:10px; border-radius:5px; background:#2563eb; color:white; cursor:pointer; }
.top-nav button.logout { background:#dc2626; }
.nav-buttons {
    display:flex;
    justify-content:center;
    gap:10px;
}
.container { max-width:1000px; margin:20px auto; background:#111827; padding:20px; border-radius:12px; }
input, select { width:50%; padding:10px; margin-top:8px; border-radius:8px; border:none; background:#1f2937; color:white; }
button { width:auto; padding:2px; margin-top:10px; border: solid #007FFF; border-radius:8px; background:#007fff; color:white; cursor:pointer; }
.container {
    max-width:1000px;
    margin:20px auto;
    background:#111827;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}
.cards { display:grid; grid-template-columns:repeat(auto-fit,minmax(120px,1fr)); gap:10px; }
.card { background:#1f2937; padding:15px; border-radius:10px; text-align:center; cursor:pointer; }
.top-nav {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 20px;
    background:none;
}

/* LEFT (Welcome text) */
.nav-left {
    font-weight:bold;
    font-size:16px;
}

/* CENTER (Buttons stay centered ALWAYS) */
.nav-center {
    display:flex;
    gap:10px;
    justify-content:center;
    flex:1;
}

/* RIGHT (Logout) */
.nav-right {
}

/* Improve buttons */
.top-nav button {
	width:100%;
    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:#0080ff;
    color:white;
    cursor:pointer;
    transition:0.3s;
	
}

.top-nav button:hover {
    background:none;
    transform:translateY(-2px);
}

.top-nav .logout {
    background:#dc2626;
}

.top-nav .logout:hover {
    background:#b91c1c;
}
.card:hover { transform:scale(1.05); }
.page { display:none; }
table { width:100%; margin-top:15px; border-collapse:collapse; color:white; }
th, td { padding:10px; border-bottom:1px solid #374151; text-align:center; }
.subjects-section input { width:8%; display:inline-block; margin-right:10px; }
/* MOBILE RESPONSIVE DESIGN */
@media (max-width: 768px){

    h1 {
        font-size:18px;
        padding:12px;
    }

    .container {
        margin:10px;
        padding:15px;
        border-radius:12px;
    }

    /* NAVBAR STACK */
    .top-nav {
        flex-direction:column;
        gap:8px;
    }

    .top-nav button {
        width:90%;
    }

    /* INPUTS */
    input, select {
        font-size:16px;
        padding:10px;
    }

    button {
        font-size:16px;
        padding:12px;
    }

    /* STUDENT CARDS */
    .cards {
        grid-template-columns:repeat(2,1fr);
    }

    /* TABLE SCROLL */
    table {
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }

    /* SUBJECT INPUTS STACK */
    .subjects-section input {
        width:auto;
        display:block;
    }

    /* REPORT CARD SCALE */
    #printArea {
        width:100% !important;
        padding:10px !important;
    }

    /* WELCOME TEXT */
    #welcomeText {
        font-size:18px;
    }
}
body {
    -webkit-tap-highlight-color: transparent;
}
button {
    min-height:45px;
}
.dashboard-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    margin-bottom:20px;
}

.stat-card {
    background:#1f2937;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.stat-card h4 {
    color:#9ca3af;
    margin-bottom:10px;
}

.stat-card p {
    font-size:26px;
    font-weight:bold;
    color:#f472b6;
}

.charts-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.chart-box {
    background:#1f2937;
    padding:15px;
    border-radius:12px;
}
.action-btn {
    background: transparent;
    border: 2px solid;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

/* EDIT BUTTON */
.edit-btn {
    border-color: #3b82f6;
    color: #3b82f6;
}

.edit-btn:hover {
    background: #3b82f6;
    color: white;
}

/* DELETE BUTTON */
.delete-btn {
    border-color: #1e293b;
    color: #ef4444;
}

.delete-btn:hover {
    background: #ef4444;
    color: white;
}
.modal {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-content {
    background:#111827;
    padding:20px;
    border-radius:12px;
    width:300px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.modal-actions {
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.modal-btn {
    flex:1;
    padding:10px;
    border-radius:8px;
    border:none;
    cursor:pointer;
}

.modal-btn.cancel {
    background:#374151;
    color:white;
}

.modal-btn.confirm {
    background:#ef4444;
    color:white;
}

.modal-btn:hover {
    opacity:0.9;
}

.marks-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    justify-content:center;
    align-items:center;
    z-index:2000;
}

.marks-modal-content{
    background:#111827;
    width:85%;
    max-width:900px;
    max-height:90vh;
    overflow-y:auto;
    padding:25px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,.5);
}



/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
/* LIGHT MODE */
.light-mode {
    background:#f3f4f6;
    color:#111827;
}

.light-mode .container {
    background:white;
    color:black;
}

.light-mode input,
.light-mode select {
    background:#e5e7eb;
    color:black;
}

.light-mode .card,
.light-mode .stat-card,
.light-mode .chart-box {
    background:#f9fafb;
    color:black;
}

.light-mode table {
    color:black;
}

.light-mode th, 
.light-mode td {
    border-bottom:1px solid #ccc;
}

.light-mode .top-nav {
    background:white;
}

.light-mode .modal-content {
    background:white;
    color:black;
}
/* REMOVE GLASS STYLE COMPLETELY */
.theme-glass {
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    border-radius: 0;
    padding: 0;
}

/* ICON INSIDE */
.theme-glass span {
    font-size: 20px;
    cursor: pointer;
}

/* LOGOUT ICON CLEAN */
.logout-icon {
    font-size: 20px;
    padding: 0;
    border: none;
    border-radius: 0;
    background: none;
    color: white;
    cursor: pointer;
}

/* SIMPLE HOVER EFFECT */
.logout-icon:hover,
.theme-glass span:hover {
    color: #f87171; /* red hover */
    transform: scale(1.2);
}

/* Emoji inside */
.theme-glass span {
    font-size:18px;
}

/* Hover effect */
.theme-glass:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.15);
}
.light-mode .theme-glass {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.light-mode .theme-glass:hover {
    background: rgba(0, 0, 0, 0.1);
}
.card.active-student {
    background: #22c55e !important;
    color: white;
    transform: scale(1.05);
    border: 2px solid #4ade80;
}

@media print {
    button {
        display: none !important;
    }
}


/* LOGOUT BUTTON */
.logout-btn{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    background:#dc2626;
    color:white;
    cursor:pointer;
}

.logout-btn:hover{
    background#1f2937;
}

/* MOBILE */
@media(max-width:768px){
    #globalSearch{
        width:90%;
    }

    .sub-header{
        flex-direction:column;
    }
}
.logout-icon{
    font-size:20px;
    padding:8px 12px;
    border:none;
    border-radius:50%;
    background:rgba(255,255,255,0.08);
    color:white;
    cursor:pointer;
    transition:0.3s;
}

/* Hover effect */
.logout-icon:hover{
    background:#1f2937;
    transform:scale(1.1);
}

/* LIGHT MODE */
.light-mode .logout-icon{
    background:rgba(0,0,0,0.05);
    color:black;
}
.sub-header{
    display:flex;
    flex-direction:column;   /* 🔥 STACK ITEMS VERTICALLY */
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:2px;
    background:linear-gradient(135deg, #0f172a, #1e293b);
	position: sticky;
	  top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


#app{
    margin-top:10px;
}


/* LOGO */
.logo{
    width:60px;
    height:60px;
    border-radius:50%;
    margin-bottom:10px;
}

/* TITLE */
.sub-header h1{
    margin:0;
    font-size:28px;
    color:#60a5fa;
}

/* ICONS UNDER H1 */
.header-icons{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-top:10px;  /* 🔥 pushes it below h1 */
}


/* ICON BUTTON */
.icon-btn{
    width:45px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    background:#1e293b;
    color:#cbd5e1;
    transition:0.2s;
}

body{
    background:#000000;
}

.sub-header{
    background:linear-gradient(135deg, #0f172a, #1e293b);
    color:#60a5fa;
}

.icon-btn{
    background:#1e293b;
    color:#cbd5e1;
}

.icon-btn:hover{
    background:#334155;
    transform:scale(1.1);
}
.light-mode{
    background:#e5e7eb;
}

.light-mode .sub-header{
    background:#f3f4f6;
    color:#4f46e5;
}

.light-mode .icon-btn{
    background:#e5e7eb;
    color:#111827;
}

.light-mode .icon-btn:hover{
    background:#d1d5db;
}
.light-mode h1 {
    background:transparent;
    color:#111827;
}
#schoolNameBox {
    display: none;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #4682b4;
}

/* Center the image and position
the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}



/* Add Zoom Animation */ 

.animate {
 -webkit-animation: animatezoom 1.3s;
 animation: animatezoom 1.3s
}

@-webkit-keyframes animatezoom {
 from {-webkit-transform: scale(0)}
 to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel
button on extra small screens */ 

@media screen and(max-width: 300px){
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width:100;
       }
    }
	
	.present-btn.active {
    background-color: #22c55e; /* green */
    color: white;
}

.absent-btn.active {
    background-color: #ef4444; /* red */
    color: white;
}














input, select{
    width:auto;
    padding:14px;
    margin-top:10px;
    border-radius:10px;
    border:none;
    font-size:16px;
}
table{
    width:100%;
    border-collapse:collapse;
    min-width:600px; /* 🔥 forces scroll */
}

@media(max-width:768px){
    #studentsTable{
        overflow-x:auto;
    }
}
.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
    gap:10px;
}











.student-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.student-modal-box{
    background: #1e293b;
    width: 90%;
    max-width: 500px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    position: relative;
}

.close-modal{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}


















/* ===== FINAL MOBILE FIXES ===== */

@media(max-width:768px){

    body{
        overflow-x:hidden;
    }

    .container{
        width:95%;
        margin:10px auto;
        padding:15px;
    }

    .sub-header{
        position:sticky;
        top:0;
        padding:15px 10px;
    }

#app{
    margin-top: 0;
}


    .nav-center{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:10px;
        width:100%;
    }

    .nav-center button{
        width:100%;
    }

    .table-wrapper{
        overflow-x:auto;
        width:100%;
    }

    table{
        min-width:600px;
    }

    .chat-area{
        height:calc(100vh - 220px);
    }


    .form-grid{
        grid-template-columns:1fr;
    }

    .chart-box canvas{
        width:100% !important;
        height:auto !important;
    }

    .modal-content{
        width:95%;
    }

    button{
        min-height:50px;
    }
}

/* ===== APP STYLE NAV ===== */
.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:65px;
    background:#111827;

    display:flex;
    justify-content:space-around;
    align-items:center;

    border-top:1px solid #1f2937;

    z-index:99999; /* increase this */
}


.nav-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:12px;
    color:#9ca3af;
    cursor:pointer;
    transition:0.2s;
}

.nav-item i{
    font-size:20px;
    margin-bottom:3px;
}

.nav-item.active{
    color:#3b82f6;
}

.nav-item:active{
    transform:scale(0.9);
}

@media (max-width:768px){
    .top-nav{
        display:none !important;
    }
}




.page{
    animation:fadeIn 0.2s ease;
}

@keyframes fadeIn{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}

body{
    overscroll-behavior: none;
}

/* HIDE ON DESKTOP */
.bottom-nav{
    display:none;
}

/* SHOW ONLY ON MOBILE */
@media (max-width:768px){
    .bottom-nav{
        display:flex;
    }
}
body {
    user-select: none;
    overscroll-behavior: none;
}










/* ===== AUTH STYLE LOGIN ===== */

body{
    min-height:100%;
    background:url("https://i.pinimg.com/1200x/8d/e7/c3/8de7c35e275b98bc265f1c83b068e912.jpg");
    background-size:cover;
    background-position:center;
}

/* Floating Stars */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background-size:10px 40px;
    opacity:.0;
    pointer-events:none;
}

@keyframes moveStars{
    from{transform:translateY(0);}
    to{transform:translateY(100px);}
}

#loginBox{
    width:380px;
    padding:40px;
    border-radius:20px;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);
    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.3);

    box-shadow:0 8px 32px rgba(0,0,0,.3);

    color:white;
}

#loginBox h3,
#loginBox h4{
    text-align:center;
    color:white;
    margin-bottom:20px;
}

#loginBox input,
#loginBox select{
    width:100%;
    padding:12px 15px;
    margin:10px 0;
    border-radius:30px;
    border:1px solid rgba(255,255,255,.4);
    background:transparent;
    color:white;
    outline:none;
}

#loginBox input::placeholder{
    color:rgba(255,255,255,.8);
}

#loginBox button{
    width:100%;
    margin-top:15px;
    padding:12px;
    border:none;
    border-radius:30px;

    background:linear-gradient(
        135deg,
        #007fff,
        #007fff
    );

    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

#loginBox button:hover{
    transform:translateY(-2px);

    box-shadow:
    0 0 15px #007fff,
    0 0 30px #007fff;
}

#loginBox p{
    color:white;
    text-align:center;
}

#loginBox hr{
    border:1px solid rgba(255,255,255,.2);
}

.login-logo{
    width:80px;
    height:80px;
    border-radius:50%;
    display:block;
    margin:0 auto 15px;
}

.school-title{
    text-align:center;
    color:white;
    margin-bottom:20px;
    letter-spacing:1px;
}










.context-menu{
    position:absolute;
    display:none;
    background:#202c33;
    color:white;
    min-width:150px;
    border-radius:8px;
    overflow:hidden;
    z-index:9999;
    box-shadow:0 2px 10px rgba(0,0,0,.4);
}

.context-menu div{
    padding:12px;
    cursor:pointer;
}

.context-menu div:hover{
    background:#2a3942;
}


#chatLayout{
    display:flex;
    height:100%;
}

#usersPanel{
    width:320px;
}

#conversationPanel{
    flex:1;
    display:flex;
    flex-direction:column;
}

#backToUsers{
    display:none;
}

@media (max-width:768px){

    #usersPanel{
        width:100%;
    }

    #conversationPanel{
        width:100%;
    }

    #backToUsers{
        display:block;
    }
}


#backToUsersBtn{
	width: 5px;
    display:none;
    background:transparent;
    border:none;
    color:white;
    font-size:20px;
    cursor:pointer;
    margin-right:10px;
}

@media(max-width:768px){

    #backToUsersBtn{
        display:block;
    }

}


/* REPORT RESPONSIVE FIX */
#printArea {
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    #printArea {
        padding: 20px 15px !important;
        font-size: 13px !important;
        border-width: 6px !important;
        max-width: 100% !important;
        margin: 10px !important;
    }

    #printArea h1 {
        font-size: 20px !important;
    }

    #printArea table th,
    #printArea table td {
        padding: 6px 4px !important;
        font-size: 12px !important;
    }
}









/* DROPDOWN MENU */

.dropdown{
    position:relative;
    display:inline-block;
}

.dropbtn{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    padding:10px 15px;
    font-size:15px;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#1e293b;
    min-width:180px;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
    z-index:9999;
}

.dropdown-content a{
    color:white;
    padding:12px 15px;
    text-decoration:none;
    display:block;
}

.dropdown-content a:hover{
    background:#2563eb;
}

/* Desktop */
.dropdown:hover .dropdown-content{
    display:block;
}

@media(max-width:768px){

    #profileMenu{
        position:absolute;
        z-index:9999;
    }

}








.academics-menu{
    position:fixed;
    bottom:80px;
    left:50%;
    transform:translateX(-50%);
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    display:none;
    z-index:99999;
    min-width:220px;
    box-shadow:0 5px 20px rgba(0,0,0,.4);
}
.academics-menu div{
    padding:15px;
    color:white;
    cursor:pointer;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.academics-menu div:last-child{
    border-bottom:none;
}

.academics-menu div:hover{
    background:#2563eb;
}










.chat-container{
    display:flex;
    height:80vh;
}



.chat-area{
    flex:1;
}
.delete-btn{
    background:none;
    border:none;
    cursor:pointer;
    font-size:14px;
    opacity:0.6;
    margin-left:5px;
}

.delete-btn:hover{
    opacity:1;
}

.message .delete-btn{
    display:none;
}

.message:hover .delete-btn{
    display:inline-block;
}

.deleted-message{
    font-style: italic;
    color: #ccc;
    opacity: 0.8;
}



.chat-header{
    height:60px;
    background:#202c33;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
    border-bottom:1px solid #2a3942;
}

.header-avatar{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

.chat-header-user{
    display:flex;
    align-items:center;
    gap:10px;
}

.header-name{
    color:white;
    font-weight:600;
}

.header-status{
    color:#8696a0;
    font-size:12px;
}

.chat-box{
    flex:1;
    overflow-y:auto;
    padding:15px;
}



.tick{
    color:#8696a0;
}

.tick.seen{
    color:#53bdeb;
}

.chat-footer{
    display:flex;
    align-items:center;
    gap:10px;
    padding:10px;
    background:#202c33;
}

.chat-footer input{
    flex:1;
    border:none;
    border-radius:25px;
    padding:12px;
    background:#2a3942;
    color:white;
}

.chat-input{
    flex:1;
    border:none;
    outline:none;
    padding:12px 16px;
    border-radius:25px;
    background:#2a3942;
    color:white;
}

.send-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#00a884;
    color:white;
    cursor:pointer;
}



.chat-user.active{
    background:#2a3942;
}
.unread-badge{
    position:absolute;
    top:-5px;
    right:-5px;
    background:#ef4444;
    color:white;
    min-width:20px;
    height:20px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:12px;
    font-weight:bold;
}

.chart-box canvas{
    width:100% !important;
    height:auto !important;
}
/* ===== USERS TOP ===== */

#chatLayout{
    display:flex;
    height:calc(100vh - 80px);
    overflow:hidden;
}
.chat-users-bar{
    width:350px;
    min-width:350px;
    background:#111b21;
    border-right:1px solid #2a3942;
    display:flex;
    flex-direction:column;
}

.chat-users{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:10px;
    overflow-y:auto;
    overflow-x:hidden;
    width:280px;
    border-right:1px solid #000;
}

/* USER CARD */

.chat-user{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    cursor:pointer;
    border-radius:0;
}

.chat-user:hover{
    background:#202c33;
}

.chat-user.active{
    background:#2a3942;
}




/* NAME */

.chat-user-info{
    flex:1;
    min-width:0;
}

.chat-user-name{
    color:white;
    font-size:15px;
    font-weight:500;
}

.chat-user-status{
    color:#8696a0;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/* ACTIVE USER */

.chat-user.active .chat-avatar{
    border:3px solid #3b82f6;
    box-shadow:0 0 15px #3b82f6;
}

/* CHAT AREA */

.chat-area{
    flex:1;
    display:flex;
    flex-direction:column;
    background:#0b141a;
}

.chat-box{
    flex:1;
    overflow-y:auto;
    padding:15px;
	background:#111b21;
}

/* INPUT */

.chat-input-area{
    display:flex;
    gap:10px;
    padding:10px;
    background:#111827;
}

.chat-input-area input{
    flex:1;
}

.chat-input-area button{
    width:60px;
    background:#2563eb;
}

.media-btn{
    width:45px;
    border-radius:30%;
	 background:#1e293b;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    font-size:20px;
    color:white;
    flex-shrink:0;
}

.media-btn:hover{
    background:#2563eb;
}

/* IMAGE AVATAR */

.chat-user img,
.chat-avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#2563eb;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    font-weight:bold;
    color:white;
    margin:auto;
    border:3px solid #374151;
}

/* ACTIVE USER */

.chat-user.active .chat-avatar-img{
    border:3px solid #3b82f6;
    box-shadow:0 0 15px #3b82f6;
}

/* AVATAR WRAPPER */

.avatar-wrapper{
    position:relative;
    width:70px;
    height:70px;
    margin:auto;
}

/* ONLINE DOT */

.online-dot{
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    bottom:2px;
    right:2px;
    border:2px solid #0f172a;
}

/* ONLINE */

.online{
    background:#22c55e;
}

/* OFFLINE */

.offline{
    background:#6b7280;
}

/* MEDIA PREVIEW */

.media-preview{
    padding:10px;
    background:#111827;
    border-top:1px solid #1f2937;
    position:relative;
}

.media-preview img{
    width:120px;
    border-radius:10px;
}

.media-preview video{
    width:180px;
    border-radius:10px;
}

.preview-file{
    padding:10px;
    background:#1f2937;
    border-radius:10px;
    color:white;
    display:inline-block;
}

/* REMOVE BUTTON */

.remove-preview-btn{
    position:absolute;
    top:10px;
    right:10px;
    width:30px !important;
    height:30px;
    border:none;
    border-radius:50%;
    background:#ef4444;
    color:white;
    cursor:pointer;
}
.message.sent{
    margin-left:auto;
    background:#005c4b;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    max-width:65%;
}

.message.received{
    background:#202c33;
    color:white;
    padding:8px 12px;
    border-radius:8px;
    max-width:65%;
}










.profile-tab{
    display:none;
}

.profile-wrapper{
    display:flex;
    gap:20px;
}

.profile-sidebar{
    width:250px;
}

.profile-content{
    flex:1;
}

@media screen and (max-width:768px){

    .profile-wrapper{
        flex-direction:column;
    }

    .profile-sidebar{
        width:100%;
    }

    .profile-content{
        width:100%;
    }

    .profile-menu{
        display:flex;
        flex-wrap:wrap;
        gap:5px;
    }

    .menu-item{
        flex:1;
        text-align:center;
    }
}
/* PROFILE CARD */
.profile-card{
    text-align:center;
    position:relative;
}

.profile-card img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #1f2937;
}

/* EDIT ICON */
.edit-pic{
    position:absolute;
    bottom:10px;
    right:80px;
    background:#f97316;
    border:none;
    border-radius:50%;
    width:35px;
    height:35px;
    color:#ccc;
    cursor:pointer;
}

.profile-wrapper{
    display:flex;
    gap:20px;
}

@media(max-width:600px){

    .profile-sidebar{
        width:100%;
        padding:15px;
    }

    .profile-content{
        padding:15px;
    }
}



/* MENU */
.profile-menu{
    margin-top:30px;
}

.menu-item{
    padding:12px;
    border-radius:10px;
    margin-bottom:10px;
    cursor:pointer;
    color:#cbd5e1;
}

.menu-item.active{
    background:none;
    color:#ccc;
}

button{
    min-height:50px;
    font-size:16px;
}

/* TITLE */
.profile-content h2{
    margin-bottom:20px;
}
/* FORM */
.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}














@media(max-width:768px){

    .dropdown{
        display:block;
        width:100%;
    }

    .dropbtn{
        width:100%;
        text-align:left;
    }

    .dropdown-content{
        position:static;
        width:100%;
        box-shadow:none;
    }

}

#profileMenu{
    display:none;
}




#subjectList{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:20px;
}

#subjectList .card{
    cursor:pointer;
    padding:15px;
    border-radius:10px;
    background:#1f2937;
    color:white;
    transition:.3s;
}

#subjectList .card:hover{
    background:#2563eb;
}

#subjectList .card.active{
    background:#22c55e;
}













.modal-overlay{

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.6);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:99999;
}

.promotion-modal{

    width:650px;
    max-width:95%;

    background:white;

    border-radius:12px;

    overflow:hidden;

    animation:pop .25s ease;
}

@keyframes pop{

    from{

        transform:scale(.9);

        opacity:0;
    }

    to{

        transform:scale(1);

        opacity:1;
    }
}

.promotion-header{

    background:#00075D;

    color:white;

    padding:20px;

    display:flex;

    align-items:center;

    gap:10px;
}

.promotion-header i{

    font-size:28px;

    color:gold;
}

.promotion-body{

    padding:20px;

    max-height:400px;

    overflow:auto;
}

.warning-box{

    margin-top:20px;

    background:#fff4e5;

    border-left:5px solid orange;

    padding:15px;
}

.warning-box ul{

    margin-top:10px;

    margin-bottom:10px;
}

.promotion-footer{

    display:flex;

    justify-content:flex-end;

    gap:10px;

    padding:15px 20px;

    background:#f3f3f3;
}

.cancel-btn{

    padding:10px 20px;

    border:none;

    background:#999;

    color:white;

    cursor:pointer;

    border-radius:6px;
}

.promote-btn{

    padding:10px 20px;

    border:none;

    background:#008000;

    color:white;

    cursor:pointer;

    border-radius:6px;
}

.promote-btn:hover{

    background:#006600;
}

.cancel-btn:hover{

    background:#777;
}




